@tailwind base;
@tailwind components;
@tailwind utilities;

@import './var.scss';

/* source-code-pro-200 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  src: local(''), url('/font/source-code-pro-v21-latin-200.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/source-code-pro-v21-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('/font/source-code-pro-v21-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/source-code-pro-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-code-pro-700 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('/font/source-code-pro-v21-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('/font/source-code-pro-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#app {
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
ol,
li,
select,
input,
textarea,
label,
a {
  @apply text-raisin;
  @apply font-mono;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  @apply font-bold;
}

img {
  object-fit: cover;
}

.container {
  max-width: 720px;
}
